# Copyright 2024 Logan Magee
#
# SPDX-License-Identifier: LicenseRef-Proprietary

android/src/androidTest/assets/gcc-13.1.1 filter=lfs diff=lfs merge=lfs -text linguist-vendored
ina/tests/testdata/gcc-13.2.1 filter=lfs diff=lfs merge=lfs -text linguist-vendored
ina/tests/testdata/gcc-13.1.1 filter=lfs diff=lfs merge=lfs -text linguist-vendored
*.ina filter=lfs diff=lfs merge=lfs -text linguist-vendored

# Exclude license files from GitHub repository stats
/LICENSES/*.txt linguist-vendored
